<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_aunthenticated %}
                        <li>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <nav>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if not list_projects %}<p>You are not assigned to any projects</p>{% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                    <tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </main>
                </body>
            </html>
